

<div class="container">
    <div class="row">
        <div class="form-group form-control">
            <%= form_for @conversation do |f| %> 
                <%= f.label :frequency, "Choose Channel" %>
                <%= f.text_field :frequency %>
                <%= f.submit 'Access', class: 'btn btn-info' %>  
            <% end %>
        </div>        
    </div>
</div>